<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CASALUNA airBNB</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-index.css}">
</head>
<body>
    <div class="cont-menu">
        <div class="cont-titulo">
            <div class="logo"></div>
            <h1>CASALUNA</h1>
        </div>
        <div class="cont-tipo">
            <button class="tipo-btn" data-content="explorar">Explorar nuevos destinos</button>
            <button class="tipo-btn" data-content="enamoraron">Destinos que te enamoraron</button>
        </div>
        <nav class="nav-menu">
            <div class="cont-sesion">
                <div class="boton">
                    <a th:href="@{/login}" class="btn">Log In</a>
                </div>
                <div class="boton">
                    <a th:href="@{/crear-usuario}" class="btn">Crear usuario</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="cont-busqueda">
        <div class="cont-filtros">
            <div class="cont-filtro">
                <label for="ubicacion">Ubicación</label>
                <input type="text" id="ubicacion" name="ubicacion">
            </div>
            <div class="cont-filtro">
                <label for="fecha">Fecha</label>
                <input type="date" id="fecha" name="fecha">
            </div>
            <div class="cont-filtro">
                <label for="personas">Personas</label>
                <input type="number" id="personas" name="personas">
            </div>
            <button type="button">Buscar</button>
        </div>
    </div>
    <div id="content" class="cards">
        <!-- Cartas con contenido quemado -->
        <ul class="cards">
            <li>
                <a href="" class="card">
                    <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                            <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
                            <div class="card__header-text">
                                <h3 class="card__title">Jessica Parker</h3>
                                <span class="card__status">1 hour ago</span>
                            </div>
                        </div>
                        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card">
                    <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                            <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
                            <div class="card__header-text">
                                <h3 class="card__title">Kim Cattrall</h3>
                                <span class="card__status">3 hours ago</span>
                            </div>
                        </div>
                        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card">
                    <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                            <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
                            <div class="card__header-text">
                                <h3 class="card__title">Jessica Parker</h3>
                                <span class="card__tagline">Lorem ipsum dolor sit amet consectetur</span>
                                <span class="card__status">1 hour ago</span>
                            </div>
                        </div>
                        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card">
                    <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                            <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
                            <div class="card__header-text">
                                <h3 class="card__title">Kim Cattrall</h3>
                                <span class="card__status">3 hours ago</span>
                            </div>
                        </div>
                        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card">
                    <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                            <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
                            <div class="card__header-text">
                                <h3 class="card__title">Jessica Parker</h3>
                                <span class="card__status">1 hour ago</span>
                            </div>
                        </div>
                        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card">
                    <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                            <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
                            <div class="card__header-text">
                                <h3 class="card__title">Kim Cattrall</h3>
                                <span class="card__status">3 hours ago</span>
                            </div>
                        </div>
                        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card">
                    <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                            <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
                            <div class="card__header-text">
                                <h3 class="card__title">Jessica Parker</h3>
                                <span class="card__tagline">Lorem ipsum dolor sit amet consectetur</span>
                                <span class="card__status">1 hour ago</span>
                            </div>
                        </div>
                        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card">
                    <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                            <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
                            <div class="card__header-text">
                                <h3 class="card__title">Kim Cattrall</h3>
                                <span class="card__status">3 hours ago</span>
                            </div>
                        </div>
                        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card">
                    <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                            <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
                            <div class="card__header-text">
                                <h3 class="card__title">Jessica Parker</h3>
                                <span class="card__status">1 hour ago</span>
                            </div>
                        </div>
                        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card">
                    <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                            <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
                            <div class="card__header-text">
                                <h3 class="card__title">Kim Cattrall</h3>
                                <span class="card__status">3 hours ago</span>
                            </div>
                        </div>
                        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <script src="script-tipo-contenido.js"></script>
</body>
</html>

