<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LogIn AirBNB</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-login.css}">
</head>
<body>
    <body>
        <div class="login-container">
            <div class = "cont-flecha">
                <div class = "material-symbols-outlined boton-home" onclick="window.location = '/'">arrow_back</div>
            </div>
            <div class="logo"></div>
            <h2>Haz log in de tu cuenta aquí</h2>
            <div class = "cont-formulario">
                <form th:action="@{/api/usuarios/login}" method="post">
                    <input type="text" name="correo" placeholder="Correo" required>
                    <input type="password" name="contrasenia" placeholder="Contraseña" required>
                    <button type="submit">Login</button>
                </form>
                <a th:href="@{/crear-usuario}">¿No tienes cuenta? Crea aquí una</a>
                <div class="footer">
                    <a href="#">Políticas de privacidad</a> | <a href="#">Términos de uso</a>
                </div>
            </div>
        </div>
    </body>
</body>
</html>